body {
   font-family: 'Lora', serif;
   font-size: 0.875rem;
   color: #495057;
   background-color: #f8f9fa;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

[class*="__container"] {
max-width: 81.25rem;
padding: 0 20px;
margin: 0 auto;
}