body {
   font-family: Lora, serif;
   font-size: 0.875rem;
   color: #495057;
   background-color: #f8f9fa;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

[class*="__container"] {
max-width: 83.125rem;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

main {
   flex: 1 1 auto;
}

.category {
   display: inline-block;
   background: rgba(255, 255, 255, 0.15);
   border-radius: 8px;   
   font-family: Roboto, sans-serif;
   font-weight: 700;
   font-size: 10px;
   line-height: 120%;
   color: #FFFFFF;
   padding: 5px 10px;
   text-transform: uppercase;
   transition: all 0.3s;
}

.category:hover {
   background: rgba(255, 255, 255, 0.5);
}


.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 46px;
   color: #FFFFFF;
}

.text {
   font-size: 12px;
   line-height: 20px;
   color: #E5E5E5;
}

