.home {
}
.home__sections {
  display: grid;
  gap: 6.25rem; 
}

@media (max-width: 991.98px) {
   .home__sections {
   gap: 4.375rem;
   }
}

@media (max-width: 767.98px) {
   .home__sections {
   gap: 2.5rem;
   }
}
.home__main-slider {
}
.main-slider {
   min-width: 0;
}

.home__popular {
}

.main-slider__wrapper {
   display: flex;
}
.swiper__wrapper {
}
.main-slider__slide {
   flex-shrink: 0;
   position: relative;
   overflow: hidden;
   background-color: #343a40;
}
.swiper__slide {
}
.main-slider__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   opacity: 0.8;
}
.main-slider__container {
   min-height: 100vh;
   z-index: 2;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   gap: 0.9375rem;
   padding-top: 6.25rem;
   padding-bottom: 8.75rem;
}
.main-slider__category {
}

.main-slider__title {
   max-width: 530px;
}

.main-slider__body {
   color: #E5E5E5;
   display: flex;
   gap: 11px;
   align-items:flex-start;
}
.main-slider__date {
   line-height: 15px;
   display: flex;
   gap: 11px;
   align-items: center;
}
.main-slider__date::after {
   content: "";
   background-color:#E5E5E5;
   width: 30px;
   height: 1px;
}

.main-slider__text {
   max-width: 420px;
}

.main-slider__bullets {
}
.bullets {
   position: relative;
   z-index: 2;
   margin-top: -8.75rem;
}
.bullets__container {
}
.bullets__items {
   display: flex;
   align-items: center;
   height: 8.75rem;
   gap: 10px;
}

.bullets__items .swiper-pagination-bullet {
   flex: 0 0 0.5rem;
   height: 0.5rem;
   background-color: #fff;
   border-radius: 50%;
   opacity: 0.2;
   transition: opacity 0.3s;
   cursor: pointer;
}
.bullets__items .swiper-pagination-bullet-active{
   opacity: 1;
}

@media (max-width: 479.98px) {
   .bullets__items {
      justify-content: center;
   }
}

.main-slider__category,
.main-slider__title,
.main-slider__body {
   transform: translate(0px, 3.125rem);
   opacity: 0;
   transition: all 0.8s;
}

.loaded .main-slider__category {
   transition-delay:  0.5s;
}
.loaded .main-slider__title{
   transition-delay:  0.7s
}
.loaded .main-slider__body {
   transition-delay:  0.9s
}

.loaded .main-slider__category,
.loaded .main-slider__title,
.loaded .main-slider__body {
   transform: translate(0, 0);
   opacity: 1;
}

/* ================================ */


.popular {
}
.popular__container {
}
.popular__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 100px 0px 45px 0px;
}
.popular__title {
}
.popular__nav {
}
.nav-popular {
   display: flex;
   flex-wrap: wrap;
   row-gap: 0.3125rem;
   column-gap: 1.25rem;
   justify-content: center;
   align-items: center;
}
.nav-popular__item {
font-weight: 700;
line-height: 25px;
color: #495057;
position: relative;
}

.nav-popular__item::after {
   content: '';
   position: absolute;
   background-color: #d4a373;
   height: 0.125rem;
   width: 0px;
   bottom: 0;
   left: 50%;
   transition: all 0.3s;
}

.nav-popular__item.active::after,
.nav-popular__item:hover::after {
   width: 100%;
   left: 0;
}

.popular__contant {
}
.popular__tab {
   display: none;
}

.popular__tab.active {
display: block;
}

.popular__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   column-gap: 1.25rem;
   row-gap: 50px;
}
.popular__item {
}
.item-popular {
   display: grid;
   align-content: start;
   gap: 15px;
   position: relative;
}
.item-popular__category {
   position: absolute;
   top: 20px;
   right: 20px;
   z-index: 2;
}

.item-popular__image {
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   padding-bottom: 90.322581%;
}

.item-popular__image img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: transform  0.8s;
}
.item-popular__image:hover img {
   transform: scale(1.05);
}


.item-popular__date {
   font-size: 12px;
   line-height: 15px;
   color: #6C757D;
}
.item-popular__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #495057;
}
.item-popular__link-title:hover {
   text-decoration: underline;
}
.item-popular__text {
   font-size: 12px;
   line-height: 20px;
   color: #6C757D;
}

@media (max-width: 767.98px) {
   .popular__header {
      flex-direction: column;
      margin-bottom: 1.5625rem;
   }
   .popular__item {
      row-gap: 1.875rem;
   }

   .popular__header {
      padding: 50px 0px 20px 0px;
   }
}